.images-list-block {
  display: flex;
  width: 100%;
}

.images-list-block__text {
  width: 50%;
}

.images-list-block__media {
  width: 50%;
  position: relative;
}

.images-list-block__content {
  width: 50%;
}

.images-list-block__content-item {
}

.images-list-block__media-item {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in;
}

.images-list-block__media-item--active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.images-list-block__media-default-image {
}
